[submodule "lib/lv_port_linux"]
	path = lib/lv_port_linux
	url = https://github.com/lvgl/lv_port_linux.git
	ignore = dirty
[submodule "lib/glaze"]
	path = lib/glaze
	url = https://github.com/stephenberry/glaze.git
	ignore = dirty
[submodule "lib/libartnet"]
	path = lib/libartnet
	url = https://github.com/OpenLightingProject/libartnet.git
	ignore = dirty
